<div class="container-fluid splash_login">
  <div class="row">
    <div class="col-xs-1 col-sm-2 col-lg-4">&nbsp;</div>
    <div class="col-xs-10 col-sm-8 col-lg-4">
      <%= image_tag "splash_logo.png", class: "center-block"  %>
      
    </div>
    <div class="col-xs-1 col-sm-2 col-lg-4">&nbsp;</div>
  </div>
</div>