%ul.nav.pull-right.root_links
  - actions(:root).each do |action|
    %li{class: "#{action.action_name}_root_link"}= link_to wording_for(:menu, action), { action: action.action_name, controller: 'rails_admin/main' }, class: "pjax"
  %li= link_to content_tag('span', t('admin.misc.log_out')), '/sign_out', method: :get 
