<div class="static_pages">
  <h1>About Us</h1>
  <p><b>About</b></p>
  <p>LYTiT iss a Manhattan based platform that evaluates how our surroundings evolve in real-time. It provides its members key insight into the optimal places they should consider to enjoy themselves, whether it be for a social gathering, an extravagant night or a casual brunch. Inside the platform members are able to connect to likeminded individuals through locations that best suit their mutual interests while preserving their anonymity.</p>
  <p><b>Mission Statement</b></p>
  <p>LYTiT’s mission is to introduce complete transparency into daily life by showing people “what is happening, where it is happening, and how it is happening,” enabling them to quickly make better informed decisions.</p>
</div>
