<% content_for :body do %>
  <body id='features'>
<% end %>
<header class="cd-header">
  <div id="cd-logo"><img src="/assets/lytit-logotype.svg" alt="LYTiT"></div>
  <div id="cd-action"><a class="btn">Coming Soon</a></div>
</header>
<div class="features-container">
  <header class="cd-header-home">
    <a href="/"><img id="logo" src="/assets/lytit-logotype.svg" style="width: 130px;" alt="LYTiT"></a>
    <a href="#0" class="cd-3d-nav-trigger-home">
    Menu
    <span></span>
    </a>
  </header>
  <!-- .cd-header -->
  <div class="cd-main-content">
    <div class="cd-product-intro">
      <h1>It's All About Places</h1>
      <p>A heat map, a social media search engine, and collective engagement are just some of the ways LYTiT enlytens.</p>
      <div class="cd-triggers">
        <a class="btn">Coming Soon</a>
        <a href="#cd-product-tour" class="btn salmon" data-type="cd-tour">Show Me</a>
      </div>
    </div>
    <!-- cd-product-intro -->
    <div id="cd-product-tour">
      <ul>
        <li class="cd-single-item cd-active right-floater">
          <div class="cd-caption">
            <h2>Map</h2>
            <p>Different lyts are assigned to locations based on the amount of social media activity each has.</p>
            <p style="margin-top: -40px">Search for a place or tap on a lyt to see what's happening there right now.
            </p>
          </div>
          <div class="cd-image-container">
            <div>
              <div class="cd-phone-frame"></div>
              <div class="cd-image-wrapper">
                <img src="/assets/map@2x.png" data-video="/assets/map_with_touch" alt="Map Preview">
              </div>
            </div>
          </div>
        </li>
        <li class="cd-single-item cd-not-visible cd-move-right left-floater">
          <div class="cd-caption">
            <h2>Pages</h2>
            <p>Every place has a Page that displays the absolute latest social media content on location. Get further live updates by Pinging people who are currently there.</p>
            <p style="margin-top: -40px">When zooming out, lyts cluster together forming a Page of an entire city, country and even continent!
            </p>
          </div>
          <div class="cd-image-container">
            <div>
              <div class="cd-phone-frame"></div>
              <div class="cd-image-wrapper">
                <img src="/assets/pages@2x.png" data-video="/assets/pages_with_touch" alt="Pages Preview">
              </div>
            </div>
          </div>
        </li>
        <li class="cd-single-item cd-not-visible cd-move-right right-floater">
          <div class="cd-caption">
            <h2>Shake</h2>
            <p>All it takes is a shake to see what's going on at the place you are at!</p>
            <p style="margin-top: -40px">Futher establish your presence by going Live and responding to your location's Pings.
            </p>
          </div>
          <div class="cd-image-container">
            <div id="shake-feature">
              <div class="cd-phone-frame"></div>
              <div class="cd-image-wrapper">
                <img src="/assets/shake@2x.png" data-video="/assets/shake_with_touch" alt="Shake Preview">
              </div>
            </div>
          </div>
        </li>
        <li class="cd-single-item cd-not-visible cd-move-right left-floater">
          <div class="cd-caption">
            <h2>Lists</h2>
            <p>Discover places through people with Lists!</p>
            <p style="margin-top: -40px">Create a List of your favorite places and join those of others to share findings, ask questions and engage in discussions. 
            </p>
          </div>
          <div class="cd-image-container">
            <div>
              <div class="cd-phone-frame"></div>
              <div class="cd-image-wrapper">
                <img src="/assets/lists@2x.png" data-video="/assets/lists_with_touch" alt="Lists Preview">
              </div>
            </div>
          </div>
        </li>
      </ul>
      <footer class="footer-basic-centered features-footer">
        <p class="footer-links">
          <a><%= link_to "Privacy", privacy_path %></a>
          ·
          <a><%= link_to "Terms", tnc_path %></a>
          ·
          <a href="mailto:support@lytit.com">Support</a>
          ·
          <a href="mailto:lux@lytit.com">Contact</a>
        </p>
        <p class="footer-company-name">LYTiT, inc. &copy; 2015</p>
      </footer>
    </div>
    <!-- cd-product-tour -->
    <div class="cd-slider-nav">
      <a class="cd-prev" href="#0">Previous</a>
      <a class="cd-next" href="#0">Next</a>
    </div>
    <!-- cd-slider-nav -->
    <div class="cd-loader"></div>
    <!-- top loading bar -->
  </div>
</div>
<nav class="cd-3d-nav-container">
  <ul class="cd-3d-nav">
    <li><%= link_to "Home", root_path %></li>
    <li class="cd-selected"><%= link_to "Features", features_path %></li>
    <li>
      <a href="mailto:lux@lytit.com">Contact</a>
    </li>
    <li>
      <a href="http://blog.lytit.com">Blog</a>
    </li>
    <li>
      <a href="https://www.facebook.com/lytitapp">Facebook</a>
    </li>
    <li>
      <a href="https://twitter.com/lytitapp">Twitter</a>
    </li>
  </ul>
  <!-- .cd-3d-nav -->
  <span class="cd-marker color-1"></span> 
</nav>
<!-- .cd-3d-nav-container -->