<% content_for :body do %>
  <body id='features'>
<% end %>
<header class="cd-header">
  <div id="cd-logo"><img src="/assets/lytit_logo.svg" style="width: 75px;" alt="Lytit"></div>
  <div id="cd-action"><a href="http://appsto.re/us/dbnb7.i" class="btn">Get It</a></div>
</header>
<div class="features-container">
  <header class="cd-header-home">
    <a href="/"><img id="logo" src="/assets/lytit_logo.svg" style="width: 110px;" alt="Lytit"></a>
    <a href="#0" class="cd-3d-nav-trigger-home">
    Menu
    <span></span>
    </a>
  </header>
  <!-- .cd-header -->
  <div class="cd-main-content">
    <div class="cd-product-intro">
      <h1>Live Place Connection</h1>
      <p style="max-width: 480px">Less wondering and more knowing! Always be aware of <t style="color: #1d6ec6;">what</t> and <t style="color: #1d6ec6;">where</t> things are happening with Lytit.</p>
      <div class="cd-triggers">
        <a href="http://appsto.re/us/dbnb7.i" class="btn">Get It</a>
        <a href="#cd-product-tour" class="btn salmon" data-type="cd-tour">Show Me</a>
      </div>
    </div>
    <!-- cd-product-intro -->
    <div id="cd-product-tour">
      <ul>
        <li class="cd-single-item cd-active right-floater">
          <div class="cd-caption">
            <h2>Happening Now</h2>
            <p>Lyts are assigned to active places for a quick overview of what's happening in an area.</p>
          </div>
          <div class="cd-image-container">
            <div>
              <div class="cd-phone-frame"></div>
              <div class="cd-image-wrapper">
                <img src="/assets/list@2x.png" data-video="/assets/open_list" alt="List Preview">
              </div>
            </div>
          </div>
        </li>
        <li class="cd-single-item cd-not-visible cd-move-right left-floater">
          <div class="cd-caption">
            <h2>Experience Places</h2>
            <p>Tap on lyts or search for places to receive a real-time feed of content and information from on location.</p>
          </div>
          <div class="cd-image-container">
            <div>
              <div class="cd-phone-frame"></div>
              <div class="cd-image-wrapper">
                <img src="/assets/find_list@2x.png" data-video="/assets/find_list" alt="Find Lists Preview">
              </div>
            </div>
          </div>
        </li>
        <li class="cd-single-item cd-not-visible cd-move-right right-floater">
          <div class="cd-caption">
            <h2>Be Enlytening</h2>
            <p>Enlyten people about your surroundings by posting Moments.</p>
            <p style="margin-top: -40px"> Lytit Moment  are passed on to select nearby users.
            If they like what they see, the Moment is forwarded to more and more people, further and further across the world!</p>
          </div>
          <div class="cd-image-container">
            <div>
              <div class="cd-phone-frame"></div>
              <div class="cd-image-wrapper">
                <img src="/assets/place_search@2x.png" data-video="/assets/place_search" alt="Lyt Map Preview">
              </div>
            </div>
          </div>
        </li>
        <li class="cd-single-item cd-not-visible cd-move-right left-floater">
          <div class="cd-caption">
            <h2>Engage & Explore</h2>
            <p>Create Lists of places or join those of your friends, locals, or influencers, to share and discover exciting locations.</p>
          </div>
          <div class="cd-image-container">
            <div>
              <div class="cd-phone-frame"></div>
              <div class="cd-image-wrapper">
                <img src="/assets/live_search@2x.png" data-video="/assets/live_search" alt="Live Search Preview">
              </div>
            </div>
          </div>
        </li>
      </ul>
      <footer class="footer-basic-centered features-footer">
        <p class="footer-links">
          <a><%= link_to "Privacy", privacy_path %></a>
          ·
          <a><%= link_to "Terms", tnc_path %></a>
          ·
          <a href="mailto:support@lytit.com">Support</a>
          ·
          <a href="mailto:lux@lytit.com">Contact</a>
        </p>
        <p class="footer-company-name">Lytit, inc. &copy; 2016</p>
      </footer>
    </div>
    <!-- cd-product-tour -->
    <div class="cd-slider-nav">
      <a class="cd-prev" href="#0">Previous</a>
      <a class="cd-next" href="#0">Next</a>
    </div>
    <!-- cd-slider-nav -->
    <div class="cd-loader"></div>
    <!-- top loading bar -->
  </div>
</div>
<nav class="cd-3d-nav-container">
  <ul class="cd-3d-nav">
    <li><%= link_to "Home", root_path %></li>
    <li class="cd-selected"><%= link_to "Features", features_path %></li>
    <li>
      <a href="mailto:lux@lytit.com">Contact</a>
    </li>
    <li>
      <a href="http://blog.lytit.com">Blog</a>
    </li>
    <li>
      <a href="https://www.facebook.com/lytitapp">Facebook</a>
    </li>
    <li>
      <a href="https://twitter.com/lytitapp">Twitter</a>
    </li>
  </ul>
  <!-- .cd-3d-nav -->
  <span class="cd-marker color-1"></span> 
</nav>
<!-- .cd-3d-nav-container -->