<% content_for :body do %>
  <body id='new_home'>
<% end %>

<nav class="cd-3d-nav-container">
  <ul class="cd-3d-nav">
	<li><%= link_to "Home", root_path %></li>
	<li class="cd-selected"><%= link_to "Features", features_path %></li>
	<li>
	  <a href="mailto:lux@lytit.com">Contact</a>
	</li>
	<li>
	  <a href="http://blog.lytit.com">Blog</a>
	</li>
	<li>
	  <a href="https://www.facebook.com/lytitapp">Facebook</a>
	</li>
	<li>
	  <a href="https://twitter.com/lytitapp">Twitter</a>
	</li>
  </ul>
  <span class="cd-marker color-1"></span> 
</nav>

<header class="cd-header">
	<div id="cd-logo"><img src="/assets/lytit_logo.svg" style="width: 75px;" alt="Lytit"></div>
	<div id="cd-action"><a href="http://appsto.re/us/dbnb7.i" class="btn">Get It</a></div>
</header>
<div class="home-container">
	<header class="cd-header-home">
		<a href="/"><img id="logo" src="/assets/lytit_logo.svg" style="width: 110px;" alt="Lytit"></a>
		<a href="#0" class="cd-3d-nav-trigger-home">
			Menu
			<span></span>
		</a>
	</header>

	<div class="intro">
		<div class="bolt">
			<img src="/assets/lytit-bolt.svg" style="width: 95px;" alt="engage_with_guide">
		</div>
		<h1>Enlyten Yourself</h1>
		<p>Discover amazing places through LIVE content inside curated location guides.</p>
	</div>
</div>

<div class="features-guides">
	<div class="features-guides-overview">
		<h1>Find Your Guide</h1>
		<p>When looking where to eat, drink and spend time, the source of a recommendation is most important. Lytit helps you explore the best location guides from top experts, publications and even friends!</p>
	</div>
	<div class="features-guides-details">
		<div class="container">
				<div class="row guide-details">
					<div class="col-md-4">
						<div class="guide-detail">
							<div class="icon">
								<img src="/assets/create_guide.svg" style="width: 75px" alt="Find Guides">
							</div>
							<h3>Search</h3>
							<p>Quickly find a Guide you're looking for. Search by theme, creator</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="guide-detail">
							<div class="icon">
								<img src="/assets/join_guide.svg" style="width: 75px" alt="Join Guides">
							</div>
							<h3>Join</h3>
							<p>Chime in with your thoughts and opinions. Be yourself!</p>
							<br></br><br>
						</div>
					</div>
					<div class="col-md-4">
						<div class="guide-detail">
							<div class="icon">
								<img src="/assets/create_guide.svg" style="width: 75px;" alt="Create Guides">
							</div>
							<h3>Create</h3>
							<p>Send the best yaks to your friends so they can join in on the local banter.</p>
							<br>	
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="space">
	</div>
</div>

<div class="features-maps">
	<div class="row map">
		<div class="col-md-6">
			<img src="/assets/phone-outline-white.png">	
		</div>		
		<div class="col-md-6">
			<div class="feature-caption">
				<h1>Live Connection</h1>
				<p>As important as it is to to find a new place, is to experience it!</p>
			</div>
		</div>
	</div>
</div>

<div class="live-moments">
	<div class="live-moment-container">
		<h1>Enlyten Others</h1>
		<p>Post Moments and reach people around the world.</p>	
	</div>
</div>

<div class="editor-reachout">
</div>

<div class="footer">
</div>
