<div class="container">
  <div class="row">
    <div class="col-lg-9 col-md-8 col-sm-7">
      <h1 class="venue-selector">
        <%= @venue.name %>
        <small>Please type in upto four promotions/messages that will be displayed on your venue page.</small>
      </h1>
      <input type="submit" value="Save/Publish" class="btn btn-primary btn-save"> 
    </div>
    <div class="col-lg-3 col-md-4 col-sm-5">
      <%= image_tag "iphone_mockup.png" %>
    </div>
  </div>
</div>
