<div class="container">
  <div class="row">
    <div class="col-md-8 col-sm-7 venue_messages">
      <div class="venue-selector-container">
        <h1 class="venue-selector <%= current_user.venues.size > 1 ? 'active' : nil %>">
          <a href="#"><%= @venue.name %></a>
          <small>Please type in upto four promotions/messages that will be displayed on your venue page.</small>
        </h1>      
        <% if current_user.venues.size > 1 %>
          <ul class="list-group">
            <% current_user.venues.order(:name).each do |venue| %>
              <li class="list-group-item">
                <%= link_to venue.name, venue %>
              </li>
            <% end %>
          </ul>
        <% end %>
      </div>
      <ul class="list-group venue_messages_list">
        <li class="list-group-item">Cras justo odio</li>
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Morbi leo risus</li>
        <li class="list-group-item">Porta ac consectetur ac</li>
      </ul>
      <ul class="list-group venue_messages_list add_to_list">
        <li class="list-group-item">Type in your promotion/message.</li>
      </ul>
      <input type="submit" value="Save/Publish" class="btn btn-primary btn-save"> 
    </div>
    <div class="col-md-4 col-sm-5 venue_messages">
      <%= image_tag "iphone_mockup.png" %>
    </div>
  </div>
</div>
