development: &default
  adapter: postgresql
  database: lytit_server_development
  encoding: utf8
  min_messages: warning
  pool: 2
  timeout: 5000
  username: postgres
  password: rohan

test:
  <<: *default
  database: lytit_server_test

