<p>Lytit Admin,</p>
<p><%= @user.name %> (user id: <%= @user.id %>) posted the following in-app message:</p>
<p><i>"<%= @message %>"</i></p>
<p>Please make sure a response is provided in a timely manner.</p>
