<p>Welcome to LYTiT! </p>
<p>Please confirm your email address by clicking on the link below.</p>
<!--<%= confirm_email_user_url(@user.confirm_token) %> -->
<p>If you believe you're receiving this message in error, contact <a href="mailto:support@lytit.com">support@lytit.com</a></p>
<p>Map the Moment</p>
