// colors

$body-bg: #232828; // dark blue
$features-body-bg: #1d6ec6;
$nav-container-bg: #000000; // black 
$nav-bg: darken($body-bg, 10%);
$text-color: #ffffff; // white

$color-1: white;
$color-2: #1d6ec6; // Hopbush
$color-3: #d6915e; // Di Serria
$color-4: #9a57bd; // Amethyst
$color-5: #3B5998; // Facebook
$color-6: #55acee; // Twitter

// fonts 

$primary-font: 'Open Sans', sans-serif;
$secondary-font: 'Merriweather', serif;

// navigation

$nav-height-S: 80px;
$nav-height-M: 170px;
$nav-items: 6;

// animation 

$animation-duration: 0.5s;

$header-height-S: 50px;
$header-height-L: 90px;
