<!-- Modal -->
<div class="modal fade bs-example-modal-sm" id="contact_us_modal" tabindex="-1" role="dialog" aria-labelledby="contact_us_modal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" style="font-family: 'Agency FB', verdana, helvetica, sans-serif" id="myModalLabel">Contact Us</h4>
      </div>
      <div class="modal-body" style="font-family: 'Agency FB', verdana, helvetica, sans-serif">
        For questions or inqueries please reach out to <a href="mailto:lux@lytit.com">lux@lytit.com</a>
      </div>
    </div>
  </div>
</div>
