<div id="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-6 sections">
        <p class="text-muted">&copy; 2014 LYTiT &nbsp; | &nbsp; <a href="#">Terms and Conditions</a></p>
      </div>
      <div class="col-xs-6 sections">
        <ul class="pull-right">
          <li>
            <a href="#">About Us</a>
          </li>
          <li>
            <a href="#">Support</a>
          </li>
          <li>
            <a href="#">Contact Us</a>
          </li>
        </ul>
      </div>
    </div>
    <!-- <div class="pull-left sections">
      <p class="text-muted">&copy; 2014 LYTiT &nbsp; | &nbsp; Terms and Conditions</p>
    </div>
    <div class="pull-right sections">
      <ul>
        <li>
          <a href="#">About Us</a>
        </li>
        <li>
          <a href="#">Support</a>
        </li>
        <li>
          <a href="#">Contact Us</a>
        </li>
      </ul>
    </div> -->
  </div>
</div>
