<div class="hide">
  <div id="custom-menu-selector">
    <ul class="list-group">
      <li class="list-group-item">
        <a href="/" class="my_venue active">
          <span>My Venue(s)</span>
        </a>
      </li>
      <li class="list-group-item">
        <a href="#" class="contact_us">
          <span>Contact Us</span>
        </a>
      </li>
      <li class="list-group-item">
        <a href="/sign_out" class="logout">
          <span>Logout</span>
        </a>
      </li>
    </ul>
    <div class="footer">
      <p><a href="#" class="text-muted">Terms and Conditions</a></p>
      <p>&copy; 2014 LYTiT</p>
    </div>
  </div>
</div>
