  <nav class="cd-3d-nav-container">
    <ul class="cd-3d-nav">
      <li class="cd-selected">
        <a href="#0">Home</a>
      </li>

      <!--<li>
        <a href="#0">Features</a>
      </li>-->
      <li class="<%= yield(:features) %>"><%= link_to "Features", features_path %></li>

      <li>
        <a href="#0">Blog</a>
      </li>

      <li>
        <a href="#0">Contact Us</a>
      </li>

      <li>
        <a href="http://www.facebook.com">Facebook</a>
      </li>

      <li>
        <a href="#0">Twitter</a>
      </li>
    </ul> <!-- .cd-3d-nav -->

    <span class="cd-marker color-1"></span> 
  </nav> <!-- .cd-3d-nav-container -->